<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Details</title>
</head>
<body>
    <div>
    <h1>{{todo_list_detail.name}}</h1>
    <p>
        <a href= "{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
    </p>
    <p>    
        <a href= "{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
    </p>
    <h2>Tasks</h2>
    <h2>To-Do Items ({{ todo_list_detail.items.all|length }} items)</h2>
    <table border="1">
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
        {% for todo_item in todo_list_detail.items.all %}
            <tr>
                <td>
                    <a href= "{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a>
                </td>
                <td>
                    <a href= "{% url 'todo_item_update' todo_item.id %}">{{ todo_item.due_date }}</a>
                </td>
                {% if todo_item.is_completed %}
                <td>
                    <a href= "{% url 'todo_item_update' todo_item.id %}">Finished!</a>
                </td>
                {% else %}
                <td>
                    <a href= "{% url 'todo_item_update' todo_item.id %}">Not Finished</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
